footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dddddd;
    background-color: #333333;
    padding: 2rem 1rem;

    a {
        color: #dddddd;
        font-weight: 600;
        &:hover {
            color: #ffffff;
        }
    }
}